.enlisted-bot-row {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, rgba(161, 8, 195, 0.2), rgba(167, 24, 24, 0.6));
  cursor: pointer;
}

.bot-collection {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: scroll;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 156, 161, 0.2), rgba(75, 9, 82, 0.565));
}
